<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Offer Trader" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>

    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application" %>
  </head>
  <body>

    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Offer Trader</a>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <% if user_signed_in? %>
              <li><a><b><%= current_user.email %></b></a></li>
              <li><%= link_to "Sign out", sign_out_path, method: :delete  %></li>
            <% else %>
              <li><%= link_to "Sign up", sign_up_path  %></li>
              <li><%= link_to "Login", sign_in_path  %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <%= bootstrap_flash %>
          <% unless current_user %>
            <div class="alert alert-info">Available user logins by default: john@gmail.com, dave@gmail.com or chris@gmail.com. Password is 123123123</div>
          <% end %>
          <%= yield %>
        </div>
        <div class="col-lg-3">
          <div class="well sidebar-nav">
            <h3 style="margin-top: 0">Payments</h3>
            <p>
              Balance: <%= number_to_currency(current_user.balance) %>
            </p>
            <%= link_to "Add funds", "#new_payment", class: "btn btn-default", data: {toggle: "modal"} %>
            <ul>
              <% current_user.payments.order("created_at desc").each do |payment| %>
                <li><%= number_to_currency(payment.amount) %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>

    </div>

    <!-- hidden modal dialogs -->
    <div id="new_offer" class="modal fade" aria-hidden="true" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <%= form_for Offer.new, class: 'form-horizontal' do |f| %>
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Create new offer</h4>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label class="col-sm-2 control-label">
                  Offer description
                </label>
                <div class="col-sm-10">
                  <%= f.text_area :text, required: true, class: "form-control" %>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">
                  Price
                </label>
                <div class="col-sm-10">
                  <%= f.text_field :price, required: true, class: "form-control" %>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <%= f.submit "Save changes", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div id="new_payment" class="modal fade" aria-hidden="true" role="dialog">
      <div class="modal-dialog">
        <%= form_for Payment.new do |f| %>
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Make payment</h4>
            </div>
            <div class="modal-body">
              <label>
              Amount: <%= f.text_field :amount, required: true %>
              </label>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <%= f.submit "Save", class: "btn btn-primary" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </body>
</html>
